@using CoachsBox.WebApp.AppFacade.Primitives.Commands
@model CreatePersonCommand


<div class="form-row">
  <div class="col-md">
    <partial name="PersonEditorsPartial/Surname" model="@this.Model" />
  </div>
  <div class="col-md">
    <partial name="PersonEditorsPartial/Name" model="@this.Model" />
  </div>
</div>

<partial name="PersonEditorsPartial/Patronymic" model="@this.Model" />

<div class="form-row">
  <div class="col-md">
    <partial name="PersonEditorsPartial/Sex" model="@this.Model" />
  </div>
  <div class="col-md">
    <partial name="PersonEditorsPartial/Birthdate" model="@this.Model" />
  </div>
</div>

<partial name="PersonEditorsPartial/Address" model="@this.Model" />

<partial name="PersonEditorsPartial/Phone" model="@this.Model" />

<partial name="PersonEditorsPartial/Email" model="@this.Model" />
