@page
@model CoachsBox.WebApp.Areas.Admin.Pages.Coaches.IndexModel

@{
  ViewData["Title"] = "Тренера";
  Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="card">
  <div class="card-header">
    <span class="h3">@ViewData["Title"]</span>
    <a class="float-right align-middle btn btn-success" asp-page="Create">Добавить</a>
  </div>
  <ul class="list-group list-group-flush">
    @foreach (var coachDTO in Model.Coaches)
    {
      <li class="list-group-item">
        <!-- Фотка человека -->
        <div class="float-left"></div>
        <div>
          <a class="font-weight-bold" asp-page="./Details" asp-route-coachId="@coachDTO.Id">@Html.DisplayFor(modelItem => coachDTO.FullName)</a>
          <div>
            <div class="float-left mr-3">
              <span class="small font-weight-bold">📞</span>
              <span class="small">@Html.DisplayFor(modelItem => coachDTO.PhoneNumber)</span>
            </div>
            <div class="float-left mr-3">
              <span class="small font-weight-bold">📧</span>
              <span class="small">@Html.DisplayFor(modelItem => coachDTO.Email)</span>
            </div>
            <div class="float-left mr-3">
              <span class="small font-weight-bold">@Html.DisplayNameFor(modelItem => coachDTO.Address):</span>
              <span class="small">@Html.DisplayFor(modelItem => coachDTO.Address)</span>
            </div>
          </div>
        </div>
      </li>
    }
  </ul>
</div>
